#panel-control{
    display: flex;   
    background-color: whitesmoke;
    padding: 30px;
    margin-top: 20px;
    border-radius: 15px;
    border: outset 2px rgba(191, 179, 179, 0.345);
    justify-content: space-between;
    box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.84);
    color: rgb(92, 91, 91);
    letter-spacing: 0.1px;
    align-items: center;
    width: 700px;
}

/*Botoes -  normal, hover , disabled*/

#btPlay ,#btTop{
    border-radius: 5px;
    padding: 8px;
    background-color:  rgba(188, 186, 186, 0.873);
    border: outset 2px  rgb(230, 229, 229);
    justify-self: left;
    color:black;
}

#vs, #vsComputador{
    border-radius: 5px;
    padding: 8px;
    background-color:  rgba(219, 219, 219, 0.873);
    border: outset 2px  rgb(230, 229, 229);
    justify-self: left;
    color:black;
}

#btTop:hover , #btPlay:hover{
    cursor: pointer;
    background-color:rgb(188, 186, 186);
    border-color:rgb(202, 199, 199);
}
#btTop:disabled , #btPlay:disabled{
    cursor: not-allowed;
    color: rgba(92, 91, 91, 0.577);
    background-color:rgba(188, 186, 186, 0.696);
    border-color:rgba(202, 199, 199, 0.475);
}

#gameTime, #nextplayer{
    background-color: rgba(211, 209, 209, 0.514);
    border-radius: 5px;
    padding: 4px 6px 1px 6px;
    align-self: center;
    margin: 5px;
}

.list-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}



