.board{
    padding: 4px;
}
.board-row{
    display: flex;
}
#uno,#dos{
    border-bottom: 3px solid rgba(93, 92, 92, 0.727);
}
.peca1, .peca2{
    border-right: 3px solid rgb(93, 92, 92,  0.727);
}
.board .tabOver{

    text-align: center;
    width: 118px;
    height: 118px;
    margin: 1px;
    font-size: 400%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(213, 213, 213, 0.81);
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

